# Database URL, required
DATABASE_URL=postgres://thora:mapala812@localhost:5432/todos
BETTER_AUTH_SECRET=<generate-a-secret-key> (e.g. with node -e "console.log(require('crypto').randomBytes(32).toString('hex'))")
BETTER_AUTH_URL=<url-of-your-server> (e.g. http://localhost:1234)

# Application port, optional, defaults to 3000
PORT=3000
